.topo img {    
  display: block;
  object-fit: cover;    
  height: 150px;  
  position: absolute;   
  margin-left: 900px;
  margin-top: 30px;
  
}

.faixaVerm {
  margin-top: 10px;
  width: 100%;
  height: 73px;
  background-color: #5c0606;   
  
}

.faixaVerm span{
  margin-left: 80px;
  color: #fcf9f9;
  font-size: 1.2rem;
}

.faixaBranca {
  display: flex;  
  width: 100%;
  height: 83px;
  background-color: white;  
  z-index: -2;
}

.faixaBranca h1{
  margin-left: 100px;
  color: #706F6F;
  font-size: 2.5rem;
  
}


.faixaVerde {
  width: 100%;
  height: 73px;
  background-color: #065c19;
  position: relative;  
  z-index: -3;
  /* margin-bottom: 60px; */
}


