@import url("reset.css");
@import url("components/css-components/style.css");

body{
  height: 1600px;
}

.topoForm2{
  display: grid;
  grid-template-columns: 1fr auto;  
  justify-items: end;
}


.topoForm2 img{
  display: block;
  width: 32px;
  height: 32px;
  
}

.segBotao{
  display: grid;
  grid-template-columns: 1fr;    
  justify-items: center;
  padding-bottom: 60px;
  margin-top: 40px;
}


#botao, #botao2 {
  display: grid;
  gap: 10px;
  align-items: center;
  grid-template-columns: auto 1fr;
  text-decoration: none;  
  font-weight: 600;    
  text-transform: uppercase;
  color: rgb(233, 223, 223);
  padding: 1rem 2rem;
  background-color: rgb(8, 145, 65);
  border-radius: 4px; 
}

/* #botao,#botao2:hover{
  background-color: rgb(70, 160, 108);
} */




.geral {  
  height: auto; /**/
  width: 783px;  
  margin: 0 auto;
  box-sizing: border-box;  
  margin-bottom: 100px;
  margin-top: 100px;
  
}



.border {
  border: 1px solid black;
}

.strong{
  font-weight: 600;
}



.container {  
  width: 773px;
  height: auto;  
  margin: 0px auto;
  box-sizing: border-box;  
}

.container-interno {
  width: 720px;
  height: auto;
  margin: 0 auto;  
  box-sizing: border-box;
}

.linha1 {
  display: flex;
  justify-content: end;
  gap: 150px;
}

.linha1 > p{
  font-size: 2rem;
}

.container-interno p {
  justify-items: center;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.container-interno span {
  align-self: end;
}

.linha2 {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.linha2 h1 {
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  justify-self: center;
  font-size: 1.5rem;
}

.linha2 img {
  max-width: 60px;
  max-height: 60px;
}

.linha2 p {
  align-self: center;
}

.telefones {
  display: grid;
  grid-template-columns: 300px 200px 200px;
  justify-items: center;
  gap: 10px;
}

.telefones p {
  grid-column: 2;
}

.telefones p:last-child {
  grid-column: 3;
}

.col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}

.col2-auto {
  display: grid;
  grid-template-columns: auto 1fr;
  /* border: solid 1px black; */
}

.col2 p {
  grid-column: 1/-1;
  text-align: center;
}

.col2.atlAprovados,
.col2.atlAprovados div {
  border: solid 1px black;
}

.col2.atlAprovados p {
  border: solid 2px black;
}

h1.strong,.mgEsc{  
  margin-top: 15px;
}

.col2.atlAprovados h1 {
  font-size: 0.7rem;
}
.col3 {
  display: grid;
  grid-template-columns: 300px 200px 200px;
  gap: 10px;
}

.col4 {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr auto 1fr 1fr;
}

.col4 span:nth-child(1) {
  color: red;
  font-weight: 600;
  text-transform: uppercase;
}

.col4 .assinatura {
  grid-column: 1/-1;
  text-align: center;
}

.col4-fr {
  display: grid;
  grid-template-columns: 4fr;
  border: solid 1px black;
}

.col4-fr p {
  grid-column: 1/-1;
  text-align: center;
}

.col6 {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr auto 1fr;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
  border: 1px solid black;
}

.col6 p {
  grid-column: 1/-1;
  text-align: center;
}

.col2-1fr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.categoria,
.etapa {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
}

.col2-1fr .categoria {
  display: grid;
  grid-template-columns: repeat(5, auto 1fr);
}

.col2-1fr .etapa {
  display: grid;
  grid-template-columns: repeat(3, auto 1fr);
}

.col2-1fr .categoria p {
  grid-column: 1/-1;
  text-align: center;
}

.col2-1fr .etapa p {
  grid-column: 1/-1;
  text-align: center;
}

.itens {
  display: flex;
}

.deptFisio h5:nth-child(4),
.deptFisio span:nth-child(5) {
  grid-column: 1/-1;
  text-align: center;
}

 [disabled]{
  color: black;    
} 


[disabled]:checked{
  -webkit-appearance: none;  
  border-radius: 50%;
  box-shadow:  inset 0 0 0 1px white, inset 0 0 0 6px #0b77f3;    
  border-color: #0b77f3;
  width: 12px;
  height: 12px;
} 



@media print {

  body  {
    height: auto;
    visibility: hidden;
    
  } 

  span {
    font-size: 0.7rem;
  }
    #printable * {
    visibility: visible;
    
  }
  #printable {    
    position: absolute;
    left: 0;
    top: 0;        
  }

  .teste{
    visibility: visible;
    page-break-before: always;
  }

  

}



