

.modal-captador{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
  width: 400px;  
  
}

.modal-captador p{
  grid-column: 1/-1;
  font-size: 1.15rem;
  padding: 5px;
}

.modal-captador p:first-child{
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  background-color: rgb(2, 71, 45);
  color:rgb(250, 248, 248);
  border-radius: 8px;
}

.modal-captador img{
  border: 7px solid rgb(2, 71, 45);
  
  border-radius: 50%;
  width: 160px;
  height: 160px;
  object-fit: cover;
}