@import url('../style-captacao.css');


.graficos{
    display: grid;
    grid-template-columns: 1fr 1fr;  
    margin-top: 200px;  
}
.fullColum{
    grid-column: 1/-1;
    height: 600px;
}
.standardLine{
    height: 600px;
}
iframe{
    height: 100%;
    width: 100%;
    display: block;
}